*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.site-main {
    flex-grow: 1;
}

.container { 
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;
}

.site-header {
    margin-top: 26px;
}

/* .site-header-logo {

} */

.site-header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.site-header-item:not(:last-child) {
    margin-right: 32px;
}

.for-border {
    border-bottom: #FF7500 3px solid;
    padding-bottom: 5px;
}

.for-border:hover {
    opacity: 0.8;
    color: #FF7500;
}

.for-border:active {
    opacity: 0.6;
}

.for-hover:hover {
    color: #FF7500;
    opacity: 0.8;
}

.for-hover:active {
    opacity: 0.6;
}

.site-header-link {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 1px;
    color: #000;
}

.site-header-link:hover {
    opacity: 0.8;
}

.site-header-link:active {
    opacity: 0.6;
}

.main-button {
    background-color: #FF7500;
    border: 1px solid #FF7500;
    border-radius: 4px;
    color: #fff;
    padding: 12px 24px;
}

.main-button:hover {
    opacity: 0.8;
}

.main-button:active {
    opacity: 0.6;
}

/* HERO */
.hero {
    background-color: #252420;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 79px;
    padding-bottom: 79px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.5px;
    width: 339px;
    margin-top: 0;
}

.hero-text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 387px;
}

.hero-link {
    margin-top: 32px;
    text-decoration: none;
    display: inline-block;
}

.header-img {
    border-radius: 8px;
    margin-top: -39px;
    margin-bottom: -145px;
    box-shadow:  22px 24px #ff770085 ;
}

/* MAIN */
.main-section {
    padding-top: 227px;
}

.main-cntent {
    font-family: Roboto Condensed;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.5px;
    width: 435px;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 72px;
}

.child {

}

.child-div {
    border: 1px solid #FF7500;
    border: none;
    border-radius: 100%;
    background: rgba(255, 117, 0, 0.2);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.child-img {
    width: 47px;
    height: 47px;
}

.child-title {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.5px;
}

.child-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 314px;
}

/* HERO-MAIN */
.section-wrapper {
    background-color:#252420;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    padding: 64px;
}

.main-content {
}

.main-title {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.5px;
    width: 373px;
    margin-top: 0;
}

.main-text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    width: 440px;
}

.main-link {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.main-img {
    margin-top: -145px;
}

span {
    color: #FF7500;
}

/* FOOTER */
.site-footer {
    background-color: #F8F8F8;
    margin-top: 160px;
}

.for-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 54px;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.footer-item {
    margin-right: 16px;
}

.footer-for-flex {
    display: flex;
    justify-content: space-between;
}

.footer-botom-list {
    padding-top: 54px;
    list-style: none;
}

.footer-botom-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 16px;
    color: #252420;
}
